<app-navbar></app-navbar>
<div class="text-center">
  <h2>Contact Me</h2>
</div>
<hr>
<div class="container col12">
  <form [formGroup]="form" >
    <div class="form-group">
      <label for="name">Your Name</label>
        <input formControlName="name" id="name"type="text" class="form-control" placeholder="Masukkan Nama">
        <div *ngIf="form.get('name').touched && form.get('name').invalid">
          <small style="color: red;">This field is required</small>
        </div>
    </div>
    <div class="form-group">
      <label for="email">Your E-Mail</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Masukkan E-mail">
          <div *ngIf="form.get('email').touched && form.get('email').invalid">
            <div *ngIf="form.get('email').hasError('required')">
              <small style="color: red;">E-Mail is required</small>
            </div>
            <div *ngIf="form.get('email').hasError('email')">
              <small style="color: red;">Not a valid E-Mail</small>
            </div>
          </div>
    </div>
    <div class="form-group">
      <label for="message">Your Message</label>
        <textarea formControlName="message" class="form-control" placeholder="Masukkan Pesan"></textarea>
          <div *ngIf="form.get('message').touched && form.get('message').invalid">
            <small style="color: red;">This field is required</small>
          </div>
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="send()">Send</button>
  </form>
</div>
<hr>
<div class="container" *ngIf="contacts !== null" >
  <ul *ngFor="let contact of contacts">
    <div class="card">
        <div class="card-header">
          {{contact.name}}
        </div>
        <div class="card-body">
          <small>From : </small><h6 class="card-title">{{contact.email}}</h6>
          <small>Message : </small><p class="card-text"><q><i>{{contact.message}}</i></q></p>
        </div>
      </div>
    <hr>
  </ul>
</div>

