<div class="container text-center">
  <div class="card">
    <div class="card-header">
      <h2>Sign Up</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="Email">Email
            <input formControlName="email" type="text" class="form-control" placeholder="Ex : text@fauzan.com">
            <div *ngIf="form.get('email').touched && form.get('email').invalid">
              <div *ngIf="form.get('email').hasError('required')">
                <small style="color: red;">Email is required</small>
              </div>
              <div *ngIf="form.get('username').hasError('email')">
                <small style="color: red;">Not a Valid Email!!</small>
              </div>
            </div>
          </label>
        </div>
        <div class="form-group">
          <label for="password">Password
            <input formControlName="password" type="password" class="form-control">
              <div *ngIf="form.get('password').touched && form.get('password').invalid">
                <small style="color: red;">Password is required</small>
              </div>
          </label>
        </div>
        <button class="btn btn-primary" (click)="authService.SignUp(form.get('email').value, form.get('password').value)" [disabled]="!form.valid">Sign Up</button>
      </form>
    </div>
  </div>
</div>
