<app-navbar></app-navbar>
<div class="text-center">
  <h3>My Friends App..!</h3>
</div>
<div class="container" style="height: 250px; width: 250px">
  <div class="card bg-dark text-white">
    <img src="assets/image/mohammadfauzan.jpg" class="card-img" alt="MohammadFauzanArramadhan">
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="form-group">
    <label>
      Username
      <input type="text" formControlName="username" class="form-control">
    </label>
    <label>
      Password<br>
      <input type="password" formControlName="password">
    </label>
    <br>
    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Login</button>
  </div>
</div>
